.contact_us{
    background-color:green;   
    margin-top: -30px;
    padding-top:30px;
    height: 200px;
  
}
.contact_us h3{
    text-align:center;
    font-size: 25px;
    color:black;
    text-transform: uppercase;
    
}
#contentContact{
    text-align: center;
    padding-top: -30px;
   
}
.contact-us h3{
    padding: 20px;

}
#contentContact h4{
    color: white;
}
#contentContact p{
    margin-top: -19px;
    font-size: 18px;
}