.aboutUs h3{
    text-align:center;
    font-size: 30px;
    color:green;
    text-transform: uppercase;
    padding:20px;
 
}
/* headlines with lines */
.decorated{
    overflow: hidden;
    text-align: center;
}
.decorated > span{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 592px; /* half of limiter */
   margin: 0 20px;
}
.decorated > span:before{
   right: 100%;
}
.decorated > span:after{
   left: 100%;
}

#aboutDesc img {
    border-style: none;
    border-radius: 50%;
 
    
}
.aboutDescription p{
    font-size: 18px;
    padding-left: 20px;
    padding-left: 20%;

}
.aboutUs{
    background-color:rgb(224, 239, 240);
    width: 100%;
    padding-top: 0;
    font-family:"mula";
    margin-top: -40px;
    height: 200px;
}
#aboutDesc{
   flex-direction: row;
   display:flex;
   margin-top:-50px;

   
}
