.contact_us{
    background-color:rgb(218, 245, 245);
   
}
.contact_us h3{
    text-align:center;
    font-size: 25px;
    color:green;
    text-transform: uppercase;
}
#contentContact{
    text-align: center;
}
.contact-us h3{
    padding: 20px;

}