.services{
    background-color:lightcyan;
    border-radius: 2em;
    height:500px;
    
}
.services h3{
    text-align:center;
    font-size: 25px;
    color:green;
    text-transform: uppercase;
    padding:20px;
}
.servicesFlex{
    flex-direction: row;
    display:flex;
    padding:200px;
}
#connection img{
    padding: 0px;
    border-radius: 0.2em;
}