.services{
    background-color:rgb(224, 239, 240);
    height:500px;
    margin-top: -30px;
    
}
.services h3{
    text-align:center;
    font-size: 25px;
    color:green;
    text-transform: uppercase;
    padding:20px;
}

.servicesFlex{
    flex-direction: row;
    display:flex;
    justify-content: center;
    
    
}
#connection img{
    padding: 0px;
    border-radius: 50%;
}
.connection p{
    font-size: 18px;
    padding-left: 5px;
}#connection h4{
    color: #BF561B;
    font-size: 20px;
}

.free_delivery img{
    border-radius: 50%;
}
.free_delivery p{
    font-size: 18px;
}
.fresh-produce img{
    border-radius: 50%;
}
.fresh-produce p{
    font-size: 18px;
}
.free_delivery h4{
    color: #BF561B;
    font-size: 20px;
}
.fresh-produce h4{
    color: #BF561B;
    font-size: 20px;
}
.free_delivery h4{
    color: #BF561B;
    font-size: 20px;
}